[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
[submodule "Carthage/Checkouts/Unbox"]
	path = Carthage/Checkouts/Unbox
	url = https://github.com/JohnSundell/Unbox.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = https://github.com/AliSoftware/OHHTTPStubs.git
[submodule "Carthage/Checkouts/IBentifiers"]
	path = Carthage/Checkouts/IBentifiers
	url = https://github.com/fellipecaetano/IBentifiers.git
[submodule "Carthage/Checkouts/Nuke"]
	path = Carthage/Checkouts/Nuke
	url = https://github.com/kean/Nuke.git

