[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
[submodule "Carthage/Checkouts/Unbox"]
	path = Carthage/Checkouts/Unbox
	url = https://github.com/JohnSundell/Unbox.git
